.oldPrice{
    text-decoration: line-through;
    color:gray;
    font-weight: 400;
}
.newPrice{
    font-weight: 600;
    font-size: 2rem;
    color: #0d6efd ;
}
.justify{
    text-align: justify;
    text-justify: inter-word;
}
.underline{
    padding: 0 8px 10px 0;
    border-bottom: 3px solid lightskyblue;
}
.bull{
    color:red;
}